@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@theme {
  --font-sans: "Public Sans", sans-serif;
}

:root {
  body {
    --ui-text-muted: #111;
  }
}

:root[class~="dark"] {
  body {
    --ui-text-muted: #ddd;
  }
}

@theme static {
  --color-tyrian-purple-50: #fef1fa;
  --color-tyrian-purple-100: #fee5f7;
  --color-tyrian-purple-200: #ffcbf0;
  --color-tyrian-purple-300: #ffa0e3;
  --color-tyrian-purple-400: #ff66cd;
  --color-tyrian-purple-500: #fc38b5;
  --color-tyrian-purple-600: #ec1694;
  --color-tyrian-purple-700: #ce0876;
  --color-tyrian-purple-800: #aa0a62;
  --color-tyrian-purple-900: #8d0e53;
  --color-tyrian-purple-950: #6f003c;

  --color-linke-red-50: #fff0f0;
  --color-linke-red-100: #ffdddd;
  --color-linke-red-200: #ffc0c0;
  --color-linke-red-300: #ff9494;
  --color-linke-red-400: #ff5757;
  --color-linke-red-500: #ff2323;
  --color-linke-red-600: #ff0000;
  --color-linke-red-700: #d70000;
  --color-linke-red-800: #b10303;
  --color-linke-red-900: #920a0a;
  --color-linke-red-950: #500000;

  --color-alabaster-50: #f8f8f8;
  --color-alabaster-100: #efefef;
  --color-alabaster-200: #dcdcdc;
  --color-alabaster-300: #bdbdbd;
  --color-alabaster-400: #989898;
  --color-alabaster-500: #7c7c7c;
  --color-alabaster-600: #656565;
  --color-alabaster-700: #525252;
  --color-alabaster-800: #464646;
  --color-alabaster-900: #3d3d3d;
  --color-alabaster-950: #292929;
}

.content-box {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  position: absolute;
  z-index: -100;
}
